[Unit]
Description=Simple CGI Server
After=nss-user-lookup.target

[Service]
ExecStart=/usr/local/sbin/fcgiwrap -n
User=nginx
Group=www-data

[Install]
Also=fcgiwrap.socket
